{#
# This file is subject to the terms and conditions defined in
# file "LICENSE.txt", which is part of the GRAPPBOX source code package.
# COPYRIGHT GRAPPBOX. ALL RIGHTS RESERVED.
#}

{% extends 'AppBundle:home:base.html.twig' %}

{% block title %}Sign in - GrappBox{% endblock %}

{% block canonical %}<link rel="canonical" href="https://grappbox.com/login">{% endblock %}

{% block body %}

<!-- Login -->
<div class="account" id="login">
  <div class="container">
    <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-12">
      <h4 class="well-title"><a class="well-logo" href="/"><img src="/resources/img/favicon/apple-icon-180x180.png" height="35" width="35" alt="GrappBox"></a>Sign in to GrappBox</h4>
      <div class="well">
        <div class="alert alert-danger" id="form-message">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <p></p>
        </div>
        {{ form_start(form) }}
          <fieldset>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="form-group label-floating">
                <label for="form_email" class="control-label">Email</label>
                {{ form_widget(form.email, {'attr': { 'class': 'form-control' }}) }}
              </div>
              <div class="form-group label-floating">
                <label for="form_password" class="control-label">Password</label>
                {{ form_widget(form.password, {'attr': { 'class': 'form-control' }}) }}
              </div>
              <div class="form-group submit">
                {{ form_widget(form.submit, {'attr': {'title': 'Log in to your GrappBox account', 'class': 'btn btn-default' }}) }}
                {{ form_rest(form) }}
              </div>
            </div>
            <div class="clearfix"></div>
          </fieldset>
        {{ form_end(form) }}
      </div>
      <div class="well text-center">New to GrappBox?<br><a href="/register" title="Create a new GrappBox account">Create an account</a></div>
      <div class="well text-center"><a href="/" title="Return to GrappBox website"><i class="material-icons" aria-hidden="true">keyboard_backspace</i>Back to GrappBox.com</a></div>
    </div>
    <div class="clearfix"></div>
  </div>

  <!-- Footer -->
  <div class="footer">
    <p>Copyright &copy; GrappBox 2017.<br>All rights reserved.</p>
  </div>
</div>

{% endblock %}