{#
# This file is subject to the terms and conditions defined in
# file "LICENSE.txt", which is part of the GRAPPBOX source code package.
# COPYRIGHT GRAPPBOX. ALL RIGHTS RESERVED.
#}

{% extends 'AppBundle:Home:base.html.twig' %}

{% block title %}Sign up to GrappBox{% endblock %}

{% block body %}

<!-- Register -->
<div id="register">
  <div class="container">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <h4 class="well-title"><a class="well-logo" href="/"><img src="/resources/img/favicon/apple-icon-180x180.png" height="35" width="35" alt="GrappBox small logo"></a>Create GrappBox account</h4>
      <div class="well">
        <div class="alert alert-danger" id="form-message">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <p></p>
        </div>
        {{ form_start(form, {'attr': {'class': 'form-horizontal' }}) }}
          <fieldset>
            <div class="form-group col-md-6 col-sm-12 col-xs-12">
              <label for="firstname" class="control-label">Firstname</label>
              {{ form_widget(form.firstname, {'attr': { 'placeholder': 'John', 'class': 'form-control' }}) }}
            </div>
            <div class="form-group col-md-6 col-sm-12 col-xs-12">
              <label for="lastname" class="control-label">Lastname</label>
              {{ form_widget(form.lastname, {'attr': { 'placeholder': 'Doe', 'class': 'form-control' }}) }}
            </div>
            <div class="form-group col-md-6 col-sm-12 col-xs-12">
              <label for="email" class="control-label">Email</label>
              {{ form_widget(form.email, {'attr': { 'placeholder': 'grappbox@awesome.com', 'class': 'form-control' }}) }}
            </div>
            <div class="form-group col-md-6 col-sm-12 col-xs-12">
              <label for="birthday" class="control-label">Birthday</label>
              {{ form_widget(form.birthday, {'attr': { 'class': 'form-control' }}) }}
            </div>
            <div class="form-group col-md-6 col-sm-12 col-xs-12">
              <label for="password" class="control-label">Password</label>
              {{ form_widget(form.password, {'attr': { 'placeholder': 'Password', 'class': 'form-control' }}) }}
            </div>
            <div class="form-group col-md-6 col-sm-12 col-xs-12">
              <label for="password_confirmation" class="control-label">Password confirmation</label>
              {{ form_widget(form.password_confirmation, {'attr': { 'placeholder': 'Password confirmation', 'class': 'form-control' }}) }}
            </div>
            <div class="form-group col-md-12 col-sm-12 col-xs-12 submit">
              {{ form_widget(form.submit, {'attr': {'title': 'Log in to your GrappBox account', 'class': 'btn btn-default', 'id': 'form-submit' }}) }}
              {{ form_rest(form) }}
            </div>
          </fieldset>
        {{ form_end(form) }}
      </div>
      <div class="well text-center">Already registered to GrappBox ?<br><a href="/login"><i class="material-icons">open_in_new</i>Login</a></div>
      <div class="well-link"><a href="/"><i class="material-icons">keyboard_backspace</i>Back to GrappBox.com</a></div>      
    </div>
  </div>
</div>

<!-- Footer -->
<div class="footer footer-reverse footer-fixed">
  <p>Copyright &copy; GrappBox 2016.<br>All rights reserved.</p>
</div>

{% endblock %}